<div class="container">
  <div class="page-header row">
    <h1>{{appListCtrl.title}}</h1>    
  </div>
  <div class="row pull-right">
    <button class="btn btn-primary" ng-click="appListCtrl.createApplication()"><span class="glyphicon glyphicon-plus"><strong>&nbsp;New</strong></span></button>
  </div>
  <div class="row">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>App Name</th>
          <th>App Id</th>
          <th>Client Id</th>
          <th class="text-center col-lg-2"><span class="glyphicon glyphicon-th-list"></span>&nbsp;Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="application in appListCtrl.applicationsList" ng-dblclick="appListCtrl.editApplication(application)">
          <td>{{application.appName}}</td>
          <td>{{application._id}}</td>
          <td>{{application.clientId}}</td>
          <td class="text-center col-lg-2">
              <button class="btn btn-sm" ng-if="!application.onRemovingMode" ng-click="appListCtrl.editApplication(application)"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-sm btn-danger" ng-if="!application.onRemovingMode" ng-click="appListCtrl.putApplicationOnRemovingMode(application)"><span class="glyphicon glyphicon-trash"></span></button>

              <div class="btn-group btn-xs" ng-if="application.onRemovingMode">
                <div><small><strong>Remove?</strong></small></div>
                <button class="btn btn-danger btn-xs" ng-click="appListCtrl.removeApplication(application)"><strong>Confirm</strong></button>
                <button class="btn btn-xs" ng-click="appListCtrl.takeApplicationFormRemovingMode(application)"><strong>Cancel</strong></button>
              </div>
          </td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>