<div class="container">
  <div class="page-header row">
    <h1>{{usersListCtrl.title}}</h1>    
  </div>
  <div class="row pull-right">
    <button class="btn btn-primary" ng-click="usersListCtrl.createUser()"><span class="glyphicon glyphicon-plus"><strong>&nbsp;New</strong></span></button>
  </div>
  <div class="row">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>Login</th>
          <th>Name</th>
          <th>Active</th>
          <th>Created</th>
          <th>Last Login</th>
          <th class="text-center col-lg-2"><span class="glyphicon glyphicon-th-list"></span>&nbsp;Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in usersListCtrl.usersList" ng-dblclick="usersListCtrl.editUser(user)">
          <td>{{user.login}}</td>
          <td>{{user.fullName}}</td>
          <td>{{user.active}}</td>
          <td>{{user.created}}</td>
          <td>{{user.lastLogin}}</td>
          <td class="text-center col-lg-2">
              <button class="btn btn-sm" ng-if="!user.onRemovingMode" ng-click="usersListCtrl.editUser(user)"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-sm btn-danger" ng-if="!user.onRemovingMode" ng-click="usersListCtrl.putUserOnRemovingMode(user)"><span class="glyphicon glyphicon-trash"></span></button>

              <div class="btn-group btn-xs" ng-if="user.onRemovingMode">
                <div><small><strong>Remove?</strong></small></div>
                <button class="btn btn-danger btn-xs" ng-click="usersListCtrl.removeUser(user)"><strong>Confirm</strong></button>
                <button class="btn btn-xs" ng-click="usersListCtrl.takeUserFormRemovingMode(user)"><strong>Cancel</strong></button>
              </div>
          </td>
        </tr>
      </tbody>
    </table>    
  </div>
</div>